body {
    padding-top: 50px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512da8;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.row_content {
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 0px;
}

.footer {
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px;
}

.fa-facebook-f { 
    color: #3b5998; 
}

.fa-twitter { 
    color: #00aced;
}

.fa-instagram { 
    color: #8a3ab9; 
}

.fa-youtube { 
    color: #bb0000 
}

.fa-linkedin {
    color: #0e76a8;
}

.text-center .fa-envelope-o {
    color: black;
}

.text-center .fa-instagram:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.text-center .fa-facebook-f:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.text-center .fa-twitter:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.text-center .fa-linkedin:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.text-center .fa-youtube:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.text-center .fa-envelope-o:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.jumbotron {
    padding: 70px 30px;
    margin: 0px auto;
    background-color: #9575cd;
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}